<mat-card class="profile-card rounded d-flex justify-content-center" *ngIf="(loggedOnUser$ | async) as user">
    <div class="profile-picture-container" (click)="fileUpload.click()">
        <input type="file" class="d-none file-input" accept=".png, .jpg" (change)="onFileSelected($event)" #fileUpload>
        <img class="p-2 rounded profile-picture" mat-card-image
            src="https://storage.googleapis.com/file-sharing-app/The%20Plastic%20Coast%20Logo" alt="Profile Image">
        <div class="d-flex justify-content-end upload-icon-container">
            <mat-icon fontIcon="upload" class="upload-icon d-flex justify-content-center">
            </mat-icon>
        </div>
    </div>
</mat-card>