<mat-card class="profile-card rounded d-flex justify-content-center" *ngIf="(loggedOnUser$ | async) as user">
    <div class="profile-picture-container" (click)="fileUpload.click()">
        <input
          type="file"
          class="d-none"
          data-cy="file-input"
          accept=".png, .jpg"
          (change)="onFileSelected($event)"
          #fileUpload>
        <img
            data-cy="profile-picture"
            class="p-2 rounded profile-picture"
            mat-card-image
            src="{{ user.profilePictureUrl || 'https://res.cloudinary.com/filesharingapp/image/upload/v1676504732/Placeholder_user_image_t5klyw.jpg'}}">
        <div class="d-flex justify-content-end upload-icon-container">
            <mat-icon
                aria-hidden="false"
                aria-label="Upload image icon"
                fontIcon="upload"
                class="upload-icon d-flex justify-content-center">
            </mat-icon>
        </div>
    </div>
    <mat-card-content class="d-flex justify-content-center m-3">
        <p data-cy="bio" class="bio">{{user.bio}}</p>
    </mat-card-content>
    <mat-card-actions class="m-2 d-flex justify-content-center">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>
