<div class="d-flex justify-content-between align-items-center">
    <ng-container *ngIf="folder$ | async as folder; else allFiles">
        <h3 class="p-3">{{ folder.name }}</h3>
        <button mat-flat-button (click)="openDialog(folder.id)" class="me-3" color="primary">
            <mat-icon fontIcon="add"></mat-icon>
            Add Files
        </button>
    </ng-container>
    <ng-template #allFiles>
        <h3 class="p-3">All Files</h3>
        <button mat-flat-button (click)="openDialog()" class="me-3" color="primary">
            <mat-icon fontIcon="add"></mat-icon>
            Add Files
        </button>
    </ng-template>
</div>
<mat-divider></mat-divider>
<mat-spinner class="container my-5 d-flex justify-content-center" matSuffix [diameter]="40"
    *ngIf="(loadingFiles$ | async)"></mat-spinner>
<div class="container px-4 pb-2 d-flex justify-content-start">
    <div class="row">
        <div *ngFor="let file of files$ | async" class="col my-4 app-file-list-item">
            <app-file [file]="file"></app-file>
        </div>
    </div>
</div>
<div *ngIf="(files$ | async).length < 1 && !(loadingFiles$ | async)"
    class="container my-5 d-flex justify-content-center">
    <div class="row">
        <p>No files found...</p>
    </div>
</div>