<mat-toolbar color="primary">
    <button
      data-cy="menu-button"
      (click)="openSideNav()"
      mat-icon-button
      aria-label="Application menu button">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="ml-3">File Sharing App</span>
    <span class="spacer"></span>
    <div class="d-flex align-items-center">
      <button
        data-cy="login-button"
        *ngIf="!(loggedOnUser$ | async)"
        (click)="openDialog()"
        color="white"
        mat-button
        aria-label="Login button">
        Login
      </button>
      <button
        data-cy="open-user-menu-button"
        *ngIf="loggedOnUser$ | async"
        mat-icon-button
        aria-label="User menu button"
        [matMenuTriggerFor]="menu">
        <mat-icon>person</mat-icon>
      </button>
    </div>
</mat-toolbar>
<mat-menu #menu="matMenu" data-cy="user-menu">
  <button mat-menu-item data-cy="user-menu-button">Edit Profile</button>
  <button
    aria-label="Logout button"
    data-cy='user-menu-button'
    *ngIf="loggedOnUser$ | async"
    mat-menu-item
    (click)="logout()">Logout
  </button>
</mat-menu>