<div class="mt-5 pe-3 pb-3" *ngIf="(userInfoForm$ | async) as form">
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input
                    matInput
                    type="text"
                    data-cy="username-input"
                    data-cy="form-control"
                    formControlName="username"
                    cdkFocusInitial>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input
                    matInput
                    type="email"
                    data-cy="email-input"
                    data-cy="form-control"
                    formControlName="email"
                    cdkFocusInitial>                    
            </mat-form-field>
        </div>    
        <div class="row">
            <mat-form-field>
                <mat-label>Bio</mat-label>
                <textarea
                    maxlength="256"
                    cdkTextareaAutosize
                    matInput
                    type="text"
                    data-cy="bio-input"
                    data-cy="form-control"
                    formControlName="bio"
                    placeholder="Write something about yourself..."
                    cdkFocusInitial
                    #bio>
                </textarea>
                <mat-hint align="end">{{bio.value.length + '/256'}}</mat-hint>
            </mat-form-field>
        </div>
    </form>
    <div class="d-flex justify-content-end mt-4">
        <button color="primary" [disabled]="form.invalid" mat-raised-button>Save Changes</button>
     </div>
</div>
