<div class="container py-5">
    <h1 class="text-center home-headings mb-2">File Sharing App</h1>
    <p class="text-center mb-4">Easy, efficient file sharing.</p>

    <mat-divider></mat-divider>

    <div class="row">
        <div class="col-lg-12 my-5">
            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                <img src="https://via.placeholder.com/400x200" alt="Upload and Store Files"
                    class="feature-image me-lg-3 mb-3 mb-lg-0">
                <div>
                    <h2 class="home-headings">Upload and Store Files</h2>
                    <p>You can upload your files securely to our platform and access them from anywhere.</p>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row">
        <div class="col-lg-12 my-5">
            <div class="d-flex align-items-center justify-content-lg-end flex-row-reverse">
                <img src="https://via.placeholder.com/400x200" alt="Create Groups"
                    class="feature-image ms-lg-3 mb-3 mb-lg-0 justify-content-lg-end">
                <div>
                    <h2 class="home-headings">Create Groups</h2>
                    <p>Organize your files by creating groups. Invite members to collaborate and share files within
                        these groups.</p>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row">
        <div class="col-lg-12 my-5">
            <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                <img src="https://via.placeholder.com/400x200" alt="Share Files Between Groups"
                    class="feature-image me-lg-3 mb-3 mb-lg-0">
                <div>
                    <h2 class="home-headings">Share Files Between Groups</h2>
                    <p>Easily share files between different groups to streamline collaboration and communication.</p>
                </div>
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>

    <div class="row">
        <div class="col-lg-12 my-5">
            <div class="d-flex align-items-center justify-content-center justify-content-lg-end flex-row-reverse">
                <img src="https://via.placeholder.com/400x200" alt="Add Comments"
                    class="feature-image ms-lg-1 mb-3 mb-lg-0">
                <div>
                    <h2 class="home-headings">Add Comments</h2>
                    <p>Engage in discussions and provide feedback by adding comments next to each file. Keep your
                        conversations organized and relevant.</p>
                </div>
            </div>
        </div>
    </div>

</div>