<mat-card class="container">
    <div class="row">
        <div class="col-12">
            <div class="spinner-container" *ngIf="updatingProfile$ | async">
                <mat-spinner class="updating-profile-spinner" matSuffix [diameter]="25">
                </mat-spinner>
            </div>
            <mat-card-header>
                <mat-card-title>Edit Profile</mat-card-title>
            </mat-card-header>
            <mat-divider class="mt-2 mb-4"></mat-divider>
            <mat-card-content>
                <div class="d-flex justify-content-center">
                    <div class="col-6">
                        <app-edit-profile-card class="me-4"
                            (incorrectFileTypeSelected)="displayIncorrectFileTypeMessage()"
                            (newImageSelected)="uploadProfilePicture($event)" [loggedOnUser$]="loggedOnUser$">
                        </app-edit-profile-card>
                    </div>
                    <div class="col-6">
                        <app-edit-profile-info [loggedOnUser$]="loggedOnUser$" (infoUpdated)="infoUpdated($event)">
                        </app-edit-profile-info>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>