<div *ngIf="!register">
    <form [formGroup]="loginForm">
        <h1 mat-dialog-title>Login</h1>
        <div mat-dialog-content>
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username">
                    <mat-error *ngIf="loginForm.controls['username'].hasError('usernameUniquenessViolated')">
                        No user found with this username. Please <strong>Register</strong> below
                    </mat-error>
                    <mat-error *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">
                        Username is <strong>required</strong>
                    </mat-error>
                    <mat-spinner matSuffix [diameter]="18" *ngIf="loadingService.loadingObs.checkingUsername$ | async"></mat-spinner>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        type="password" 
                        placeholder="Enter Password.." 
                        formControlName="password">
                    <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-2">
            <p class="d-flex justify-content-center">No account? 
                <span 
                    role="link" 
                    tabindex="0" 
                    class="register-link" 
                    (keydown.enter)="register=true" 
                    (click)="switchToRegisterUser()">Register
                </span>
            </p>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button mat-button cdkFocusInitial (click)="loginUser()">Login</button>
        </div>
    </form>
</div>
<div *ngIf="register">
    <form [formGroup]="registerForm">
        <h1 mat-dialog-title>Register</h1>
        <div mat-dialog-content>
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput type="text" formControlName="username">
                    <mat-error *ngIf="registerForm.controls['username'].hasError('usernameUniquenessViolated')">
                        Username is <strong>taken</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['username'].hasError('required')">
                        Username is <strong>required</strong>
                    </mat-error>
                    <mat-spinner matSuffix [diameter]="18" *ngIf="loadingService.loadingObs.checkingUsername$ | async"></mat-spinner>
                </mat-form-field>
            </div>
            <div class="row mb-2">
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input 
                        matInput 
                        type="password" 
                        placeholder="Enter Password.."
                        formControlName="password"
                        matTooltip="Password must be a minimum of eight characters and contain at least one uppercase letter, one lowercase letter, one number and one special character"
                        matTooltipPosition="before">
                    <mat-error *ngIf="registerForm.controls['password'].hasError('pattern')">
                        Password is <strong>invalid</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['password'].hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mb-3">
                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email">
                    <mat-error *ngIf="registerForm.controls['email'].hasError('email')">
                        Please enter a <strong>valid</strong> email address
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['email'].hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                    <mat-error *ngIf="registerForm.controls['email'].hasError('emailUniquenessViolated')">
                        An account with this email address already exists. Select login below to login
                    </mat-error>
                    <mat-spinner matSuffix [diameter]="18" *ngIf="loadingService.loadingObs.checkingEmail$ | async"></mat-spinner>
                </mat-form-field>
            </div>
        </div>
        <div class="row mt-2">
            <p class="d-flex justify-content-center">Already have an account? 
                <span
                  role="link"
                  tabindex="0"
                  class="register-link"
                  (keydown.enter)="register=false"
                  (click)="register=false">Login
                </span>
            </p>
        </div>
        <div mat-dialog-actions align="end">
            <button mat-button mat-dialog-close>Cancel</button>
            <button 
            mat-button 
            cdkFocusInitial
            (click)="registerUser()">Register</button>
        </div>
    </form>
</div>

<!-- <ng-container *ngIf="loadingService.isLoading$ | async">
    <div class="spinner-container">
    </div>
  </ng-container> -->