.sidenav-container {
    height: 90vh;
}

.sidenav-content {
    width: 250px;
    overflow-x: auto;
}

:host {
    ::ng-deep .p-tree-container {
        padding-left: 0;
    }
}

:host {
    ::ng-deep .p-tree {
        border: none;
    }
}

:host {
    ::ng-deep .p-treenode-selectable.p-highlight {
        color: #04a78bd5;
    }
}

:host {
    ::ng-deep .p-treenode-selectable.p-highlight>.p-treenode-icon {
        color: #04a78bd5;
    }
}

:host {
    ::ng-deep .p-treenode-selectable.p-highlight>.p-tree-toggler>.p-icon-wrapper>.p-tree-toggler-icon {
        color: #04a78bd5;
    }
}

.tree-node {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.info-btn {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.tree-node:hover .info-btn {
    opacity: 1;
}

:host {
    ::ng-deep .p-treenode-children {
        padding-left: 0.4rem;
        padding-top: 0rem;
        padding-bottom: 0rem;
    }
}

:host {
    ::ng-deep .p-treenode-content {
        padding-top: 0rem;
        padding-bottom: 0rem;
        height: 35px;
    }
}

.tree-container {
    position: relative;
}

.spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    z-index: 10;
}