.sidenav-container {
    height: 90vh;
}

.sidenav-content {
    width: 250px;
    overflow-x: auto;
}

:host {
    ::ng-deep .p-tree-container {
        padding-left: 0;
    }
}

:host {
    ::ng-deep .p-tree {
        border: none;
    }
}