.sidenav-container {
    height: 90vh;
}

.sidenav-content {
    width: 250px;
    overflow-x: auto;
}

:host {
    ::ng-deep .p-tree-container {
        padding-left: 0;
    }
}

:host {
    ::ng-deep .p-tree {
        border: none;
    }
}

:host {
    ::ng-deep .p-treenode-selectable.p-highlight {
        color: #04a78bd5;
    }
}

:host {
    ::ng-deep .p-treenode-selectable.p-highlight>.p-treenode-icon {
        color: #04a78bd5;
    }
}

:host {
    ::ng-deep .p-treenode-selectable.p-highlight>.p-tree-toggler>.p-icon-wrapper>.p-tree-toggler-icon {
        color: #04a78bd5;
    }
}