<mat-sidenav-container class="sidenav-container">
    <mat-sidenav opened mode="side">
        <div class="sidenav-content">
            <button class="mx-3 my-3 folders-btn" mat-flat-button (click)="createNewFolder()">
                <mat-icon fontIcon="add"></mat-icon>
                Add New Folder
            </button>
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                    <button mat-icon-button disabled aria-hidden="true"></button>
                    <button mat-button [matTooltip]="node.name">{{node.name | textLength: (17 - (node.level *
                        2))}}</button>
                </mat-tree-node>
                <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <button mat-button [matTooltip]="node.name">{{node.name | textLength: (17 - (node.level *
                        2))}}</button>
                </mat-tree-node>
            </mat-tree>
        </div>
    </mat-sidenav>
    <mat-sidenav-content class="p-3">
        <mat-card>
            <mat-card-content>
                <router-outlet></router-outlet>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>