<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened mode="side">
      <button class="mx-5 my-3 folders-btn" mat-flat-button (click)="createNewFolder()">
        <mat-icon fontIcon="add"></mat-icon>
        Add New Folder
      </button>
    </mat-sidenav>
    <mat-sidenav-content class="p-4">
      <mat-card>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>