@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* OWN STYLES */

.snack-bar-error {
    background: rgb(255, 0, 0);
  }
  
  .snack-bar-info {
    background: #37474f;
  }
  
  .snack-bar-success {
    background: #2e7d32;
  }
  
  .mat-snack-bar-container,
  .mat-simple-snackbar-action > .mat-button > .mat-button-wrapper {
      color: white;
  }
  
  .mat-simple-snackbar-action > .mat-button {
    border-left: 3px white;
  }
  
  .sidenav-container {
    height: 100%;
  }
  
  .email-spinner {
    height: 5px;
    width: 5px;
  }