@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* OWN STYLES */

.snack-bar-error {
    background: rgb(255, 0, 0);
}

.snack-bar-info {
    background: #37474f;
}

.snack-bar-success {
    background: #2e7d32;
}

.mat-snack-bar-container,
.mat-simple-snackbar-action>.mat-mdc-button>.mat-button-wrapper {
    color: white;
}

.mat-mdc-snack-bar-action>.mat-mdc-button {
    border-left: 3px white;
}

body,
body .p-component {
    font-family: Poppins;
}