<ng-container *ngIf="(accountAccessObs$ | async) as accountAccess">
    <div *ngIf="(accountAccess.form) as form" class="overflow-hidden">
        <form [formGroup]="form" class="form">
            <h1 mat-dialog-title class="title mb-4">{{accountAccess.action.type}}</h1>
            <div mat-dialog-content>
                <div class="row mb-2">
                    <mat-form-field class="account-form-control" appearance="fill">
                        <mat-label>Username</mat-label>
                        <input matInput type="text" class="username-input" formControlName="username" cdkFocusInitial>
                        <mat-error class="username-custom-validator-username-taken"
                            *ngIf="form.controls['username'].hasError('usernameExists') && accountAccess.action.type === 'Register'">
                            Username is <strong>taken</strong>
                        </mat-error>
                        <mat-error class="username-custom-validator-no-user-found"
                            *ngIf="form.controls['username'].hasError('usernameDoesNotExist') && accountAccess.action.type === 'Login'">
                            No user found. Select <strong>register</strong> below
                        </mat-error>
                        <mat-error class="username-required-error"
                            *ngIf="form.controls['username'].hasError('required')">
                            Username is <strong>required</strong>
                        </mat-error>
                        <mat-spinner class="me-3" matSuffix [diameter]="18"
                            *ngIf="checkingUsername$ | async"></mat-spinner>
                    </mat-form-field>
                </div>
                <div class="row mb-2">
                    <mat-form-field class="account-form-control" appearance="fill">
                        <mat-label>Password</mat-label>
                        <input class="password-input" matInput type="password" placeholder="Enter Password.."
                            formControlName="password"
                            matTooltip="Password must be a minimum of eight characters and contain at least one uppercase letter, one lowercase letter, one number and one special character"
                            matTooltipPosition="before">
                        <mat-error class="password-invalid-error" *ngIf="form.controls['password'].hasError('pattern')">
                            Password is <strong>invalid</strong>
                        </mat-error>
                        <mat-error class="password-required-error"
                            *ngIf="form.controls['password'].hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="row mb-2" *ngIf="form.contains('email')">
                    <mat-form-field class="account-form-control" class="email-form-control" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" formControlName="email" class="email-input">
                        <mat-error class="email-invalid-error" *ngIf="form.controls['email'].hasError('email')">
                            Please enter a <strong>valid</strong> email address
                        </mat-error>
                        <mat-error class="email-required-error" *ngIf="form.controls['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error class="email-custom-validator-error"
                            *ngIf="form.controls['email'].hasError('emailUniquenessViolated')">
                            An account with this email address already exists. Select <strong>login</strong> below to
                            login
                        </mat-error>
                        <mat-spinner class="me-3" matSuffix [diameter]="18"
                            *ngIf="checkingEmail$ | async"></mat-spinner>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <p class="d-flex justify-content-center link-label">{{accountAccess.action.linkLabel}}
                    <span role="link" tabindex="0" class="login-register-link"
                        (keydown.enter)="toggleUserIsRegistering()"
                        (click)="toggleUserIsRegistering()">{{accountAccess.action.linkText}}
                    </span>
                </p>
            </div>
            <div mat-dialog-actions align="end" class="mb-3">
                <button mat-button mat-dialog-close class="cancel-btn">Cancel</button>
                <button [disabled]="!form.valid" class="submit-btn" mat-button (click)="onFormSubmit(form)"
                    type="submit">{{accountAccess.action.buttonAction}}</button>
            </div>
        </form>
    </div>
</ng-container>